<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7_tTYo87rcPa-_42AWzq5Wh9Qr2EPbnA</string>
	<key>GCM_SENDER_ID</key>
	<string>95113090396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mert.coldAssistantAi</string>
	<key>PROJECT_ID</key>
	<string>cold-assistant-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>cold-assistant-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95113090396:ios:53a53d0017c2da1a0c1d99</string>
</dict>
</plist>